body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #222;
}

p {
    text-align: center;
    color: #666;
}

a {
    text-decoration: none;
}

button {
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 3px;
}

table {
    width: 100%;
    background: white;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    padding: 12px;
    background-color: #222;
    color: white;
}

td {
    padding: 12px;
    text-align: center;
}

tr {
    border-bottom: 1px solid #ddd;
}

input,
select {
    padding: 9px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form {
    text-align: center;
}


/* Dashboard */

.dashboard {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px 0;
}

.card {
    background: white;
    padding: 20px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.card p {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0 0;
    color: #111;
}
.status {
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
}

.applied {
    background-color: #fff3cd;
    color: #856404;
}

.interview {
    background-color: #cfe2ff;
    color: #084298;
}

.selected {
    background-color: #d1e7dd;
    color: #0f5132;
}

.rejected {
    background-color: #f8d7da;
    color: #842029;
}
/* Mobile Responsive Design */

@media (max-width: 600px) {

    body {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    .dashboard {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }

    table {
        font-size: 13px;
    }

    th,
    td {
        padding: 7px;
    }

    input,
    select {
        width: 90%;
        box-sizing: border-box;
    }

    form button {
        margin-top: 8px;
    }

}